<% @page_specific_scripts_js = ["/javascripts/vendors/lightview/js/lightview.js"] %>
<% @page_specific_scripts_css = ["/javascripts/vendors/lightview/css/lightview", "/stylesheets/registrations/new"] %>
<!--<div id="script_lightview"></div>-->

<div class="splash-wrapper">
  
  <div class="headline" id="headline">
    <h1><span style="color:#009CFF;">Efficient </span> learning for <span style="color:#009CFF;">passionate</span> students</h1>
    <!--<h5>Roll over the images below to see how</h5>-->
  </div>

  <div class="splash-img-wrapper">

    <div class="buttons">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%#= link_to "", '/', :class => "register_button"%>
        <div class="rounded_border video_button"><a href='http://www.youtube.com/v/hGpyPI2qdIg' class='lightview' rel='set[myset][flash]' title="Become a more efficient learner in under 3 minutes. :: :: width: 540, height: 360">Video Demo</a></div>
        <div class="rounded_border register_button"><a href="#sign_up_inline" class="lightview" title=' ::  :: width: 540, height: 425'>Sign Up</a></div>
      <% end %>
    </div>

    <div class="splash"><img id="img_notes" src="/images/home/notes.png" /></div>
    <div class="splash img_flashcards"><img id="img_flashcards" src="/images/home/flashcards.png" /></div>
    <div class="splash img_review"><img id="img_review" src="/images/home/review.png" /></div>
  </div>

</div>

<div class="box_container">
  <div class="box">
    We are students and <span class="box_title">our Mission</span> is to become more efficient learners. We want to spend less time studying and know our material much better. And, we want to commit the most essential information we come across to long-term memory.
  </div>

  <div class="box">
    Zen.do is in <span class="box_title">Beta</span> and we hope to find out from our users what works, what does't and where we should go next. Please send us your comments and suggestions!
  </div>

  <div class="box">
    <div class="line-bg"><span>&nbsp;&nbsp;Sign in using&nbsp;&nbsp;</span></div>

    <div class="authentications">
      <!--<a href="/auth/twitter" class="auth_provider">
        <%#= image_tag "logos/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
      </a>-->
      <a href="/auth/facebook" class="auth_provider">
        <%= image_tag "logos/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
      </a>
      <a href="/auth/open_id?openid_url=gmail.com" class="auth_provider">
        <%= image_tag "logos/google_64.png", :size => "64x64", :alt => "Google" %>
      </a>
    </div>

    <div class="line-bg"><span>&nbsp;&nbsp;or use&nbsp;&nbsp;</span></div>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.label :email, :class => "email_pass_label" %>
      <%= f.text_field :email %>

      <%= f.label :password, :class => "email_pass_label" %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in" %>
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end -%>
    <% end %>

    <a href="/users/password/new" style="margin-left: 30%">Forgot your password?</a>
  </div>
</div>

<!--sign in - inline-->
<div style="display:none"><%= render :partial => "shared/sign_up_form" %></div>