<% @page_specific_scripts_js = ["parser", "vendors/ckeditor/lang/en.js"] %>

<div class="rounded_border doc_options">
  <span>/<%= link_to @tag.name, '/#%i' % @tag.id %>/<input id="document_name" value="<%=@document.name%>"></input></span>
  <button id="save_button" style="float:right">Saved</button>
  <img id="sync_button" class="sync" src="/images/editor/sync-icon.png" alt=""/>
</div>

<div id="editor_container" style="display:none"><textarea id="editor" name="editor" style="display:none;"><%=@document.html%></textarea></div>

<div id="right_rail" class="rounded_border" style="display:none">
  <table class="align_bottom" valign="bottom"><tr><td id="cards" valign="bottom">
    <!--<div class="card card_active rounded_border"><input type="checkbox" class="card_activation" />truncated test</div>
    <div class="card_focus card rounded_border">
      <input type="checkbox" class="card_activation" />
      <div class="card_front">front</div>
      <div class="card_back">back and probablyaf sfkljasldk jfasldjfl;aksdjflsjdfsj flsjf lsk</div>
    </div>-->
  </td></tr></table>
</div>

<!-- document vars -->
<div id="document_id" style="display:none;"><%=@document.id%></div>
<div id="line_ids" style="display:none;"><%=@line_ids%></div>
<div id="new_doc" style="display:none;"><%=@new_doc%></div>

<%= javascript_include_tag ["vendors/ckeditor/ckeditor"], :cache => false %>
<a href="http://zen.do" style="position:absolute; top:-1000px;">tab</a>