<% @page_specific_scripts_js = "parser" %>

<div class="rounded_border doc_options">
  <span>/<%= link_to @tag.name, '/#%i' % @tag.id %>/<input id="document_name" value="<%=@document.name%>"></input></span>
  <button id="save_button" style="float:right">Saved</button>
  <img id="sync_button" class="sync" src="/images/editor/sync-icon.png" alt=""/>
</div>

<% if @new_doc %>
  <% @document.html = '<ul><li>zendo - meditation hall</li></ul>'%>
  <%= "<span id='new_document' style='display:hidden'></span>".html_safe %>
<% end %>

<div id="editor_container"><textarea id="editor" name="editor" style="display:none;"><%=@document.html%></textarea></div>

<div id="right_rail" class="rounded_border">
  <table class="align_bottom" valign="bottom"><tr><td id="cards" valign="bottom">
    <!--<div class="card card_active rounded_border"><input type="checkbox" class="card_activation" />truncated test</div>
    <div class="card_focus card rounded_border">
      <input type="checkbox" class="card_activation" />
      <div class="card_front">front</div>
      <div class="card_back">back and probablyaf sfkljasldk jfasldjfl;aksdjflsjdfsj flsjf lsk</div>
    </div>-->
  </td></tr></table>
</div>

<!-- document vars -->
<div id="document_id" style="display:none;"><%=@document.id%></div>
<div id="line_ids" style="display:none;"><%=@line_ids%></div>

<% auto_js_css =  controller.controller_name + '/' + controller.action_name  %>
<%= javascript_include_tag ["ckeditor/ckeditor", "ckeditor/lang/en.js"], :cache => false %>
<!--<script type="text/javascript">
//<![CDATA[
  var CKEDITOR_BASEPATH = '/javascripts/ckeditor/';
  CKEDITOR.replace( 'editor', {
    startupFocus : <%= !@new_doc%>,
    customConfig: '',
    contentsCss: '/stylesheets/documents/edit_contents.css',
    removePlugins: 'elementspath',
    resize_enabled: false,
    startupFocus: true,
    language: 'en',

    toolbar:  [

        ['BulletedList','-','Outdent','Indent'],
        ['Bold','Italic','Underline'],//,'Strike'],
        ['JustifyLeft','JustifyCenter','JustifyRight']//,'JustifyBlock'],
        //['Undo','Redo'],
        //['Cut','Copy','Paste','-','Print', 'SpellChecker'],
        //['Link','Unlink'],
        //['SpecialChar']
    ],

    on: {
      instanceReady : function(e) {Event.fire(document, 'CKEDITOR:ready');},
      paste: function(e) {doc.outline.outlineHandlers.onPaste(e)}
    }
  });
//]]>
</script>-->