<% @page_specific_scripts_js = ["parser", "progressbar"] %>

<%#*if, reviewing full tag, make sure review.js is included%>
<% if controller.controller_name == 'tags' %>
  <% @page_specific_scripts_js += ["documents/review"] %>
  <% @page_specific_scripts_css = "documents/review" %>
<% end %>

<div id="title">
  <% if @document.nil? %>
    /<%= link_to @tag.name, '/#' + @tag.id.to_s %>
  <% else %>
    /<%= link_to @document.tag.name, '/#%i' % @document.tag.id %>
    /<%= link_to @document.name, '/documents/%i/edit' % @document.id %>
  <% end %>
</div>

<div class="card_container">
  <table>
    <tr>
      <td class="grade grade_top_left"><button id="strength_2" style="display:none" class="rounded_border">I got it, but who cares</button></td>
      <td class="rounded_border card_side" id="card_front"></td>
      <td class="grade grade_top_right">
        <div class="grade_yourself grade_hide">How well do you know it?</div>
        <div class="clr"></div>

        <div class="button_container grade_hide">
          <label for="grade_4">Got it!</label>
          <button id="grade_4" class="rounded_border">4</button>
        </div>

        <div class="button_container grade_hide">
          <label for="grade_3">Kinda</label>
          <button id="grade_3" class="rounded_border">3</button>
        </div>
        <!--<img class="arrows_up_down" style="display:none" src="/images/reviewer/up_down.png" />-->
      </td>
    </tr>
    <tr>
      <td class="grade grade_lower grade_bottom_left"><button id="strength_1" style="display:none" class="rounded_border">A</button></td>
      <td class="rounded_border card_side" id="card_back"></td>
      <td class="grade grade_lower grade_bottom_right">

        <div class="button_container grade_hide">
          <label for="grade_2">Barely</label>
          <button id="grade_2" class="rounded_border">2</button>
        </div>

        <div class="button_container grade_hide">
          <label for="grade_1">No clue</label>
          <button id="grade_1" class="rounded_border">1</button>
        </div>

        <!--<button class="enter" style="display:block" >Grade</button>-->
      </td>
    </tr>
  </table>
  
  <div id="progress_bar_container">
    <button id="back_button"></button>
    <span id="progress_bar"></span>&nbsp;&nbsp;&nbsp;
    <span id="progress_fraction"></span>
    <button id="next_button"></button>
  </div>
</div>
<div class="clr"></div>
<div class="clr"></div>

<div id="card_json" style="display:none;"><%=@lines_json%></div>

<% if !@document.nil? %>
  <div style="display:block" id="document_<%=@document.id%>"><%=@document.html.html_safe %></div>
<% else %>
  <% @tag.documents.each do |document| %>
    <% unless document.html.nil? %>
      <div style="display:block" id="document_<%=document.id%>"><%=document.html.html_safe %></div>
    <% end %>
  <% end %>
<% end %>

<div id="log" style="margin-top:25px;"></div>