<% @page_specific_scripts_js = ["parser", "progressbar"] %>

<%#*if, reviewing full tag, make sure review.js is included%>
<% if controller.controller_name == 'tags' %>
  <% @page_specific_scripts_js += ["documents/review"] %>
  <% @page_specific_scripts_css = "documents/review" %>
<% end %>

<div id="title">
  <% if @document.nil? %>
    /<%= link_to @tag.name, '/#' + @tag.id.to_s %>
  <% else %>
    /<%= link_to @document.tag.name, '/#%i' % @document.tag.id %>
    /<%= link_to @document.name, '/documents/%i/edit' % @document.id %>
  <% end %>
</div>

<div class="card_container">
  <table>
    <tr>
      <td class="grade grade_hide grade_top_left"><button id="strength_2" style="display:none" class="rounded_border">I got it, but who cares</button></td>
      <td class="rounded_border card_side" id="card_front"></td>
      <td class="grade grade_hide grade_top_right">
        <button id="grade_a" class="rounded_border">A</button>
        <button id="grade_b" class="rounded_border">B</button>
        <button id="grade_c" class="rounded_border">C</button>
      </td>
    </tr>
    <tr>
      <td class="grade grade_hide grade_lower grade_bottom_left"><button id="strength_1" style="display:none" class="rounded_border">A</button></td>
      <td class="rounded_border card_side" id="card_back"></td>
      <td class="grade grade_hide grade_lower grade_bottom_right">
        <button id="grade_d" class="rounded_border">D</button>
        <button id="grade_f" class="rounded_border">F</button>
      </td>
    </tr>
  </table>
  
  <div id="progress_bar_container">
    <a id="back_button">< Back</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span id="progress_bar"></span>&nbsp;&nbsp;&nbsp;
    <span id="progress_fraction"></span>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a id="next_button">Next ></a>
  </div>
</div>

<div id="card_json" style="display:none;"><%=@lines_json%></div>

<% if !@document.nil? %>
  <div style="display:block" id="document_<%=@document.id%>"><%=@document.html.html_safe %></div>
<% else %>
  <% @tag.documents.each do |document| %>
    <% unless document.html.nil? %>
      <div style="display:block" id="document_<%=document.id%>"><%=document.html.html_safe %></div>
    <% end %>
  <% end %>
<% end %>

<div id="log" style="margin-top:25px;"></div>