<% @page_specific_scripts_js = ["parser"] %>

<div id="tags_json" style="display: none;"><%= @tags_json %></div>
<div id="lines_json" style="display: none;"><%= @lines_json %></div>

<div id="dashboard" class="rounded_border dashboard">

  <div class="recent_docs">
    <h4>Recent Docs</h4>
    <% if @recent_docs.length > 0 %>
      <% @recent_docs.each do |doc| %>
        <div document_id="<%= doc.id%>" style="margin:5px 0;">
          <a href="/documents/<%= doc.id%>/edit">
            <div class="folder" style="float:left;">
            <img class="folder" alt="" height="25" src="/images/organizer/doc-icon.png" />
            </div>
            <div class="title recent_doc_title"><%= doc.name%></div>
            <div style="clear: both;"></div>
          </a>
        </div>
        <div id="document_<%= doc.id%>" style="display:none;"><%= doc.html.html_safe%></div>
      <%end%>
    <%else%>
        <i>No documents</i>
    <%end%>
  </div>

  <div class="quickstudy">
    <h4>Quick Study</h4>
    <em><span id="card_side" style="margin:0 auto;">Front</span></em>
    <div class="quickstudy_card_wrapper">
      <table class="quickstudy_card">
        <tr><td valign="center">
          <span id="card_front" style="display: block; padding:5px;">Loading...</span>
        </td></tr>
      </table>
    </div>
    <a id="flip_button">Flip Card</a>
  </div>
  <div class="clear"></div>
</div>

<div id="organizer_header">
  <span id="directory_name">My Notes/</span>
  <span id="sort_options">Sort:
    <span id="sort_by_name">by title</span>
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <span id="sort_by_updated_at">by last edited</span>
  </span>
</div>

<div id="icons">
  <!--<div class="icon_container rounded_border">
    <div class="title">Title here</div>
    <div class="folder">
      <img alt="" src="/images/organizer/folder-full-icon.png" />
    </div>
    <div class="folder_options">
      <img alt="" src="/images/organizer/add-icon.png" />
      <img alt="" src="/images/organizer/play-icon.png" />
      <img alt="" src="/images/organizer/process-icon.png" />
    </div>
  </div>-->
</div>
<div class="clr"></div>
