<% @page_specific_scripts_js = "/javascripts/pages/home" %>

<div class="splash-wrapper">
  
  <div class="headline" id="headline">
    <h1><span style="color:#009CFF;">Efficient </span> learning for <span style="color:#009CFF;">passionate students</span></h1>
    <h5>Roll over the images below to see how</h5>
  </div>

  <div class="splash-img-wrapper">
    <div class="splash"><img id="img_learn" src="/images/home/learn.png" /></div>
    <div class="splash"><img id="img_study" src="/images/home/study.png" /></div>
    <div class="splash"><img id="img_know" src="/images/home/know.png" /></div>
  </div>

  <div class="register">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "", new_registration_path(resource_name), :class => "register_button"%>
  <% end %>
</div>

</div>

<h2 style="width:550px; margin:50px auto 5px;">Already Registered? Sign in here!</h2>
<div style="width:550px; height: 175px; margin:0 auto; padding:5px;" class="rounded_border">
  <div style="width:300px; float: left;">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end -%>

  <%= f.submit "Sign in" %></p>
<% end %>
</div>
<div style="width:250px; float: left; margin-top: 50px;">
<%= render :partial => "devise/shared/links" %>
</div>
</div>