<!DOCTYPE html>
<html>
<head>
  <title>Dougie</title>

  <%#heroku - read-only file system%>
  <%#= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <!--auto-include js if exists-->
  <% auto_js_full =  RAILS_ROOT + '/public/javascripts/' + controller.controller_name + '/' + controller.action_name + '.js'  %>
  <% auto_js_css =  controller.controller_name + '/' + controller.action_name  %>
  <% if  File.file?(auto_js_full) %>
    <%= javascript_include_tag auto_js_css %>
  <% end %>

  <!--auto-include css if exists-->
  <% auto_js_full =  RAILS_ROOT + '/public/stylesheets/' + controller.controller_name + '/' + controller.action_name + '.css'  %>
  <% if  File.file?(auto_js_full) %>
    <%= stylesheet_link_tag auto_js_css %>
  <% end %>

  <!--load page specific scripts in head-->
  <% if @page_specific_scripts_js %> <%= javascript_include_tag @page_specific_scripts_js %> <% end %>
  <% if @page_specific_scripts_css %> <%= stylesheet_link_tag @page_specific_scripts_css %> <% end %>

</head>
<body>

<%= render 'shared/authentication' %>

<!--flash messages-->
<% unless flash[:notice].blank? %><p class="notice"><%= flash[:notice] %></p><% end %>
<% unless flash[:error].blank? %><p class="error"><%= flash[:error] %></p><% end %>

<div class="contents">

  <%= yield %>

</div>

</body>
</html>