<!DOCTYPE html>
<html>
<head>
  <title>Zendo | passionate learners</title>

  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
  <% auto_js_css =  controller.controller_name + '/' + controller.action_name  %>

  <!--auto-include css if exists-->
  <% auto_css_full =  RAILS_ROOT + '/public/stylesheets/' + controller.controller_name + '/' + controller.action_name + '.css'  %>
  <% if  File.file?(auto_css_full) %>
    <%= stylesheet_link_tag auto_js_css %>
  <% end %>

  <% if @page_specific_scripts_css %> <%= stylesheet_link_tag @page_specific_scripts_css %> <% end %>

  <link rel="icon" type="image/png" href="/images/logos/favicon.ico" />
  <meta name="google-site-verification" content="1kmG8JhfDQo1KP7tHKZsMRUa8Msr83nxkOj3aQ_jCl0" />
</head>
<body>
  <div class="wrapper">

    <div class="header_container">
      <div class="header">
        <%= render 'shared/authentication' %>
      </div>
    </div>

    <!--flash messages-->
    <% unless flash[:notice].blank? && flash[:error].blank? && flash[:alert].blank? %>
      <div class="flash_container">
        <% unless flash[:alert].blank? %><span class="error rounded_border"><%= flash[:alert] %></span><% end %>
        <% unless flash[:notice].blank? %><span class="notice rounded_border"><%= flash[:notice] %></span><% end %>
        <% unless flash[:error].blank? %><span class="error rounded_border"><%= flash[:error] %></span><% end %>
      </div>
    <% end %>

    <div class="contents"><%= yield %></div>

    <div class="clr"></div>
    <div class="footer">
      <div class="footer_columns">
        <div class="footer_column">
          <h5>Zendo</h5>
          <%= link_to "About", "/about" %>
          <!--<span>Blog</span>-->
          <%= link_to "Terms of Service", "/tos" %>
          <%= link_to "Privacy Policy", "/privacy" %>
        </div>

        <div class="footer_column">
          <h5>Product</h5>
          <span>FAQ</span>
          <span>Articles</span>
        </div>

        <div class="footer_column">
          <h5>Contact</h5>
          <a href="mailto:josh@zen.do">Email us</a>
          <a href="http://zendo.userecho.com/forum/2026-general/filter-10138/order-top/">Suggest a feature</a>
          <a href="http://zendo.userecho.com/forum/2026-general/filter-10140/order-top/">Report a bug</a>
          <a href="http://zendo.userecho.com/forum/2026-general/filter-10139/order-top/">Questions?</a>
        </div>

        <div class="footer_column">
          
          <h5>Facebook</h5>
          <div style="height:25px;"><fb:like href="http://zen.do" show_faces="false" width="350" height="63" action="recommend"></fb:like></div>

          <h5>Twitter</h5><div id="script_twitter1"></div><div id="script_twitter2"></div>
          <a href="http://twitter.com/zendonotes">
            <img src="/images/shared/twitter.png" style="position:relative; top:4px;"> Follow us on twitter
          </a>

        </div>
        <h6 class="copyright">Copyright 2011 Zendo. All rights reserved.</h6>
      </div>
    </div>
  </div>
  <div id="script_userecho"></div>
  <div id="script_facebook"></div>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/prototype/1/prototype.js', :cache => false %>
  <%#= javascript_include_tag '/javascripts/vendors/prototype.js', :cache => false %>
  <%= javascript_include_tag ['/javascripts/vendors/scriptaculous/src/scriptaculous.js?load=effects,dragdrop,controls', 'rails', 'application', '/javascripts/vendors/scriptaculous/src/effects', '/javascripts/vendors/scriptaculous/src/dragdrop', '/javascripts/vendors/scriptaculous/src/controls'], :cache => '/cache/all' %>
  <!--auto-include js if exists-->
  <% auto_js_full =  RAILS_ROOT + '/public/javascripts/' + controller.controller_name + '/' + controller.action_name + '.js'  %>
  <% if  File.file?(auto_js_full) %>
    <%= javascript_include_tag auto_js_css, :cache => false %>
  <% else %>
    <%= javascript_include_tag 'default', :cache => false %>
  <% end %>
  <% if @page_specific_scripts_js %> <%= javascript_include_tag @page_specific_scripts_js, :cache => '/cache/' + auto_js_css %> <% end %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2755840-15']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>